<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}FourChimps | Detritus{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Shaun Masterman <shaun@masterman.com>">

    {% stylesheets filter='less,cssrewrite'
        '@FourChimpsThemeBundle/Resources/public/reboot/less/reboot.less'
        '@global'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}

    {% javascripts
        '@FourChimpsThemeBundle/Resources/public/reboot/js/*'
        '@FourChimpsThemeBundle/Resources/public/js/bootstrap-alert.js'
        '@FourChimpsThemeBundle/Resources/public/js/bootstrap-button.js'
        '@FourChimpsThemeBundle/Resources/public/js/bootstrap-carousel.js'
        '@FourChimpsThemeBundle/Resources/public/js/bootstrap-collapse.js'
        '@FourChimpsThemeBundle/Resources/public/js/bootstrap-dropdown.js'
        '@FourChimpsThemeBundle/Resources/public/js/bootstrap-modal.js'
        '@FourChimpsThemeBundle/Resources/public/js/bootstrap-popover.js'
        '@FourChimpsThemeBundle/Resources/public/js/bootstrap-scrollspy.js'
        '@FourChimpsThemeBundle/Resources/public/js/bootstrap-tab.js'
        '@FourChimpsThemeBundle/Resources/public/js/bootstrap-tooltip.js'
        '@FourChimpsThemeBundle/Resources/public/js/bootstrap-transition.js'
        '@FourChimpsThemeBundle/Resources/public/js/bootstrap-typeahead.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Ͼ(ᴼ߸ᴼ)Ͽ &nbsp;&nbsp;  FourChimps</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li {% if app.request.attributes.get('_route') == 'article' %}class="active"{% endif %}><a href="{{ path('article') }}">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="btn-danger"><a href="{{ path('dashboard') }}">Admin</a></li>
                    {% endif %}
                </ul>
                <ul class="nav pull-right">
                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('fos_user_registration_register') }}">Sign Up</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}" ><i class="icon-user icon-white"></i> Sign In</a></li>
                    {% else %}
                        <li class="text">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
                        <li><a href="{{ path('fos_user_profile_edit') }}">Profile</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Log Out</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        {% block sidebar %}{% endblock %}
        <div class="span9">
            {% block body %}{% endblock %}
        </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; FourChimps 2012</p>
    </footer>

</div> <!-- /container -->
{% block javascripts %}{% endblock %}
</body>

</html>
