
{% extends '::base.html.twig' %}

{% block body %}
    
        
    {% form_theme edit_form 'FourChimpsThemeBundle:Form:theme.html.twig' %}
    
        

    {% block sidebar %}
    <h1>Sidebar</h1>
    {% endblock %}
-
<h1>Article Edit</h1>

<form class="well form-horizontal" action="{{ path('admin_article_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}

    <div class="form-actions">
        <button class="btn btn-success" type="submit">
            <i class="icon-white icon-check"></i>
            Save
        </button>
    </div>
</form>

<div class="record_actions">
        <form action="{{ path('admin_article_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
    
        <a class="btn" href="{{ path('admin_article') }}">
            <i class="icon-chevron-left"></i>
            Back to the list
        </a>
    
    
    
        <button class ="btn btn-danger" type="submit">
        	<i class="icon-white icon-remove"></i>
        	Delete
        </button>
    </form>
    </div>



{% endblock %}
