{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function(){
            $('#hero-carousel').carousel({
                interval: 7000
            });

            $('#hero-carousel').carousel('cycle');
        });
    </script>
{% endblock %}

{% block sidebar %}
    {% render "FourChimpsArticleBundle:TagGroup:sidebar" %}
{% endblock %}

{% block body %}
    {% render "FourChimpsArticleBundle:Article:partialTag" with { 'tagName' : 'layout_hero', 'templateFragment':'_hero' } %}

    {% for entity in entities %}
            <section class="row">
                <article class="span9">

                    <h2>{{ entity.headline }}</h2>
                    <p>{{ entity.intro }}</p>
                    <small>{{entity.author}} on {{ entity.created|date('d/m/Y') }}</small>
                    <p><a href="{{ path('article_show', { 'id': entity.id }) }}" class="btn" href="#">Read more &raquo;</a></p>

                </article><!--/span-->
            </section><!--/row-->
    {% endfor %}

    <hr/>

    {% render "FourChimpsArticleBundle:Article:partialTag" with { 'tagName' : 'layout_section', 'templateFragment':'_sections' } %}
{% endblock%}
