{% extends '::base.html.twig' %}

{% block sidebar %}
    {% render "FourChimpsArticleBundle:TagGroup:sidebar" %}
{% endblock %}

{% block body %}
    <h1>{{ entity.headline }}</h1>
    <p>{{ entity.body }}</p>
    <small>{{entity.author}} on {{ entity.created|date('d/m/Y') }}</small>

    <br/>
    Tags: {% for tag in entity.tags %}{% if tag.tagGroup.visible %}{{tag.tag}} {% endif %}{% endfor %}

    <br/>
    {% if (is_granted('ROLE_SUPER_ADMIN') or (is_granted('ROLE_ADMIN') and app.user == entity.author)) %}
        <a href="{{ path('article_edit', { 'id': entity.id }) }}" class="btn btn-info">Edit &raquo;</a>
    {% endif%}

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('admin_article_edit', { 'id': entity.id }) }}" class="btn btn-info">Admin &raquo;</a>
    {% endif%}

{% endblock %}