{% extends '::base.html.twig' %}

{% block sidebar %}
{% render "FourChimpsArticleBundle:TagGroup:sidebar" with { 'current' : tag.tag }%}
{% endblock %}

{% block body %}
    <h1>{{ tag.tag }}</h1>
    {% for entity in entities %}
            <section class="row">
                <article class="span9">
                    <h2>{{ entity.headline }}</h2>
                    <p>{{ entity.intro }} </p>
                    <p><a href="{{ path('article_show', { 'id': entity.id }) }}" class="btn" href="#">Read more &raquo;</a></p>
                    <small>{{ entity.author }}{% if entity.created %} on {{ entity.created|date('d-m-Y') }}{% endif %}</small>
                </article><!--/span-->
            </section><!--/row-->
    {% endfor %}
{% endblock%}
